body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: space-between;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.links{
    display: flex;
    text-decoration: none;
    gap: 24px;
    padding: 0;
    margin: 0;
  }

a {
    color: #e5e7eb;
    text-decoration: none;
    }


.topper, .top{
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 24px;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
} 


.test{
    display: flex;
    flex-direction: column;
}

.quote{
    background-color: #e5e7eb;
    padding: 30px;
    flex-wrap:wrap;
    size: 40px;
}  

.top-left .box{
    display: flex;
    font-weight: 900;
    font-size: 48px;
    flex-wrap: wrap;
    width: 265px;
}

.logo{
    font-size:24px;
    color:#f9faf8
}

.subtext{
    flex-wrap: wrap;
    width: 265px;
    color: #e5e7eb;
}

.placeholder{
    background-color: lightgray;
}

.mid{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    font: 36px;
    font-weight: 900;
    justify-content: center;
}

.space{
    background-color: white;
    display: flex;
    justify-content: center;
}

.bottom{
    padding: 30px;
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
}

.signup{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.footer{
    justify-content: center;
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 8px;
}

button{
    background-color:#3882f6;
    color: white;
    border-color: white;
    border-radius: 4px;
    flex-shrink: 1;
}

#bottom_button{
    height: 24px;
    align-self:center;
}