.body{
    display: flex;
    justify-content: space-around;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
    padding: 0;
    margin: 0;
    
  }

.topper, .top{
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 32px;
}

.top{
    justify-content: space-evenly;
    gap: 32px
}

.topper{
    justify-content: space-evenly;
}

.top-left{
    display: flex;
    flex-direction: column;
}

.quote{
    background-color: #e5e7eb;
    padding: 30px;
    flex-wrap:wrap;
    size: 40px;
}  

.top-left .box{
    display: flex;
    font-weight: 900;
    font-size: 48px;
    flex-wrap: wrap;
    width: 265px;
}

.logo{
    font-size:24px;
    color:#f9faf8
}

.subtext{
    flex-wrap: wrap;
    width: 265px;
}

.placeholder{
    background-color: lightgray;
}

.mid{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    font: 36px;
    font-weight: 900;
    justify-content: center;
}

.bottom{
    padding: 30px;
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.signup{
    display: flex;
    flex-direction: column;
}